body{
    background-image:url("imahe.jpg");
    
    background-position-x: center;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: slategray;
    font-family: 'Arial';
}
.login{
    width: 382px;
    overflow: hidden;
    margin:auto;
    margin: 20 0 0 450px;
    padding:80px;
    background: #23463f;
    border-radius: 15px;

}
h1{

  text-align: center;
  color: rgb(175, 201, 207);
  padding: 20px;
}
label{
    text-align: center;
    color: #08ffd1;
    font-size: 17px;
}
#Sean{
    text-align: right;
    width: 80px;
    height:30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Bergado{

    text-align: right;
    width: 80px;
    height:30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
button{
  
  text-align:center;
  color: rgb(0, 6, 7);
  padding: 10px;
  width: 300px;
}